

.footer {
  background-color: #f9f9f9;
  color: #210303;
  padding: 1px 0;
  text-align: center;
  width: 100%;
  position: relative; /* or remove position property */
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}


.social-icons {
  display: flex;
  justify-content: center; /* Center the social icons */
  margin-bottom: 5px; /* Space below social icons */
  margin-top: 5px;
}

.social-icons a {
  color: #210303; /* Social icons color */
  text-decoration: none; /* Remove underline from links */
  margin: 0 5px; /* Space between icons */
  font-size: 24px; /* Icon size */
  transition: color 0.3s ease; /* Smooth color transition */
}

.social-icons a:hover {
  color: #2470f3; /* Change color on hover */
}

footer p {
  margin-top: 0px; /* Space above the copyright text */
  font-size: 14px; /* Font size for the copyright text */
  color: #210303; /* Text color */
  text-align: center; /* Center the text */
}

