:root {
  --light: #F9F9F9;
  --blue: #2470f3;
  --grey: #eee;
  --dark: #342E37;
  --dark-grey: #AAAAAA;
  --header-blue: #052a50; /* Color for headers */
  --text-color: #0d0c0c; /* Color for text */
}

#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: .3s ease;
}

#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}

#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  height: calc(100vh - 60px); /* Adjust height to be full viewport minus the navbar height */
  overflow-y: auto;
}






.head-title {
  display: flex;
  align-items: center;
}

.left {
  flex: 1;
  margin-left: 80px;  
}

.left h1 {
  font-size: 50px;
}

.left p {
  font-size: 20px;
}


.right-image {
  max-width: 40%;
  height: auto;
  margin: 10px; /* Adjust margin as needed */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .head-title {
      flex-direction: column;
      align-items: center;
  }

  .right-image {
      margin-left: 0;
      margin-top: 20px; /* Adjust margin as needed */
  }
}



.centered-container {
  background: white;
  padding: 60px; /* Adjust padding of the centered container */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 40px auto; /* Adjust margins of the centered container */
  max-width: 80%; /* Adjust the width of the centered container */
}

.image-text-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.image-text-content {
  flex: 1;
  padding-right: 40px; /* Adjust padding right to create more space between text and image */
}

.logo-image {
  width: 250px; /* Adjust the size of the logo image */
  height: auto;
  margin-left: 20px; /* Adjust margin left to position the logo */
}

.services-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.services-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.services-list li .bx {
  margin-right: 10px;
  font-size: 24px;
  color: var(--blue); /* Assuming you have a custom color variable */
}

@media screen and (max-width: 768px) {
  .image-text-container {
      flex-direction: column;
      align-items: flex-start;
  }

  .logo-image {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
  }
}

.image-text-content h2 {
  font-size: 32px; /* Adjust font size */
  color: var(--header-blue); /* Adjust header color */
  text-align: left;
  margin-bottom: 20px;
  font-weight: bold; /* Adjust font weight */
  font-family: var(--poppins); /* Ensure font family is consistent */
}

.image-text-content p {
  font-size: 18px; /* Adjust font size */
  color: var(--text-color); /* Adjust text color */
  margin-bottom: 20px;
  font-family: var(--poppins); /* Ensure font family is consistent */
}
