:root {
  --light: #F9F9F9;
  --blue: #2470f3;
  --grey: #eee;
  --dark: #342E37;
  --dark-grey: #AAAAAA;
}

#content nav {
  z-index: 1000;
  height: 60px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

#content nav a {
  color: var(--dark);
}

#content nav .bx.bx-menu {
  cursor: pointer;
  /* color: var(--dark); */
}

#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
  background: var(--grey);
  border-radius: 18px;
  overflow: hidden;
  margin-left: 30px;
}

#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
  color: var(--dark);
  border-radius: 18px 0 0 18px;
}

#content nav form .form-input button {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

#content nav .right-items {
  display: flex;
  align-items: center;
  grid-gap: 24px;
}

#content nav .notification-icon {
  font-size: 24px;
  cursor: pointer;
  color: var(--dark);
}

#content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}

#content nav .switch-mode::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--blue);
  border-radius: 50%;
  transition: all .3s ease;
}

#content nav #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}

.login-button-container {
  text-align: center;
}

.login-button {
  background-color: #4a70ea;
  color: white !important; /* Set text color to white */
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}


.login-button:hover {
  background-color: #094be4;
}

ul {
  padding-left: 0;
}


/* Navbar.css */
.notification-icon {
  position: relative;
  display: inline-block;
}

.notification-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
}



.notification-icon .notification-bubble {
  position: absolute;
  top: 0;
  right: -5px; /* Adjust the position as needed */
  background-color: red; /* Change the background color */
  color: white; /* Change the text color */
  border-radius: 50%;
  padding: 3px 6px; /* Adjust padding as needed */
  font-size: 8px; /* Adjust font size as needed */
}

.sidebar-toggle{
  border: transparent;
  background-color: white;
  
}

.sidebar-toggle:hover{
  color: #094be4;
  
}