/* todo.css */

.todo-app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #eee; /* Set the application background to white */
  padding: 20px;
}

.todo-app .App-header {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.todo-app h1 {
  margin: 0;
  color: #333;
}

.todo-app form {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-app input[type="text"] {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  flex: 1;
}

.todo-app button {
  background-color: #4a70ea;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-app button i {
  margin-right: 5px;
}

.todo-app button:hover {
  background-color: #094be4;
}

.todo-app ul {
  list-style: none;
  padding: 0;
  background-color: #fff;

}

.todo-app li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.todo-app li span {
  flex: 1;
}

.todo-app li button {
  margin-left: 10px;
}
